.wrap {
	margin-bottom: 10px;
}

.label {
	display: block;
	padding: 8px 0;
}

.label span {
	color: #cb2c30;
}

.dropMessage {
	margin: 0;
}

.dropMessage span {
	cursor: pointer;
	font-weight: bold;
}

.dropMessage span:hover {
	color: #cb2c30;
}

.dropZone {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	border: 2px dashed #737373;
	border-radius: 6px;
	background-color: rgb(255 255 255);
	padding: 30px 12px;
}

.dropZoneIcon {
	margin-bottom: 16px;
	text-align: center;
	font-size: 38px;
	color: #737373;
	transition: all;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
	50% {
		transform: translateY(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
}

.dropEnter {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	border: 2px dashed #cb2c30;
	border-radius: 6px;
	background-color: rgb(255 255 255);
	padding: 30px 12px;
}

.dropEnterIcon {
	margin-bottom: 16px;
	font-size: 38px;
	color: #cb2c30;
	animation: bounce 1s infinite;
}

.acceptText {
	font-size: 14px;
	color: #737373;
}

.errorMsg {
	color: #cb2c30;
	display: block;
	font-size: 18px;
	margin-top: 4px;
}

.filePrev {
	margin-top: 8px;
	display: flex;
	align-items: center;
	border: 1px solid #737373;
	border-radius: 6px;
	padding: 12px;
}

.filePrev span {
	margin: 0;
	color: #000;
}

.filePrev svg {
	margin-right: 12px;
	font-size: 24px;
	color: #cb2c30;
}
