.wrap {
	margin-bottom: 10px;
}

.label {
	display: block;
	padding: 8px 0;
	font-size: 18px;
}

.label.error {
	color: #cb2c30;
}

.errorMsg {
	color: #cb2c30;
	display: block;
	font-size: 18px;
	margin-top: 4px;
}

.input {
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 12px 12px 12px 14px;
	border-radius: 4px;
	border: 1px solid rgb(64 64 64);
}

.input:focus {
	border-color: rgb(23 23 23);
}

.input.error {
	border: 2px solid #b91c1c;
	background-color: #fcdddd;
	outline: none;
}
